<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
           
            
            <h3 style='text-align: center;'>Please update your profile with your information</h3>
            <div class="container profile">
                <div class="row" >
                    <div style='padding-left: 200px;'>
                        <br />
                        <h1>Profile for <span style='color: red'><%= user.name %></span></h1>
                        <img src="<%= user.picture %>" class="img-circle img-responsive img-center" alt="profile"/>
                        <br />
                        <p>Name: <%= user.name %></p>
                        <p>Email: <%= user.email %></p>
                        <p>Address: <%= user.address %></p>
                        <p>City: <%= user.city %></p>
                        <p>State: <%= user.state %></p>
                        <p>Credentials: <%= user.credentials %></p>
                        <p>Organization: <%= user.organization %></p>

                        <a href="/api/users/update-profile" class="btn btn-primary btn-lg">Update Profile</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %> <% include ../partials/scripts %>
    </body>
</html>
