<!DOCTYPE html>
<html>
    <head>
        <title>Law Enforcement</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div>            
            <div class="container"> 
                <h1 style='margin-top: 100px'>Law Enforcement</h1>
                <div class="row">
                    <% law.forEach(({image, title, description}) => { %> 
                        <div class="col-md-4" style="width:20rem;">
                            <div class="card">
                                <img src="<%= image %>" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title"><%= title %></h5>
                                    <p class="card-text"><%= description %> </p>
                                    <a href="/api/industry/details" class='btn btn-primary'>Select</a>
                                </div>
                            </div>
                        </br>
                        </div>
                    <% }) %>
                        <% users.forEach(({picture, name, credentials, email}) => { %> 
                        <div class="col-md-4" style="width:20rem;">
                            <div class="card">
                                <img src="<%= picture %>" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title"><%= name %></h5>
                                    <p class="card-text"><%= credentials %> </p>
                                    <a href="/api/industry/details/<%= email %> " class='btn btn-primary'>Select</a>
                                </div>
                            </div>
                        </br>
                        </div>
                    <%}) %>    
                </div>
            </div> 

        </div>



        

        <% include ../partials/footer %> 
        <% include ../partials/scripts %>
    </body>
</html>
